$pmy-blue-c-dark: #021E49;
$pmy-blue-c: #0433BF;
$pmy-blue-c-light: #0460D9;
$pmy-white-c: #F5F5F5;
$pmy-black-c: #0D0D0D;
$scdy-white-c: #E3F0FB;
$pmy-font-c-black: #212529;
$pmy-font-c-gray: #6C7570;
$pmy-font-c-white: #FFF;
$primary-font: 'Sans Serif';



