@import 'src/assets/scss/variables.scss';

#carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 100vh;
  padding: 1rem;
  color: white;
  background-color: black;
}

.carousel-container {
  position: relative;
  margin: auto;
  text-align: center;
  max-width: 100vw;
  border-radius: 1rem;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.carousel-container img {
  display: none;
  border-radius: 1rem;
  max-width: 100%;
  height: auto;
    background-image: linear-gradient(0deg, rgba(0,0,0, 0.5), rgba(0,0,0, 0.5))
}

.carousel-container img.img-active {
  display: block;
      background-image: linear-gradient(0deg, rgba(0,0,0, 0.5), rgba(0,0,0, 0.5))
}

.carousel-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  z-index: 1;
}

.carousel-btn-container {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-bottom: -4rem;
}

.btn {
  height: 13px;
  width: 13px;
  margin: 0 5px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  transition: opacity 0.6s ease;
  opacity: 0.3;
}

.active,
.btn:hover {
  opacity: 1;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@media (max-width: 767px) {
  .carousel-container {
    width: 90%;
  }

  .carousel-btn-container {
    margin-bottom: 3rem;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
